.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  box-shadow: 0px 0px 5px 0px grey;
  border-radius: 30px;
  padding: 5vh;
  display: flex;
  min-width: 300px;
  flex-direction: column;
}
